<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<div class="row" ng-app ng-csp>
  <div class="col-md-4 col-sm-6">
    <div class="hipstercard-box">
      <div class="hipstercard" hipsterdata-background="color" hipsterdata-color="black">
        <div class="card-header"
             style="background-position: center center; background-size: cover;">
          <div class="row justify-content-center">
            <img src="https://covers.openlibrary.org/b/id/{{coverId}}-L.jpg" style="margin: auto">
          </div>
          <!--<div class="social-line" data-buttons="2">-->
          <!--<meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self'; style-src 'self'; img-src 'self'; connect-src 'self' ws://openlibrary.org; font-src 'self';">-->
          <!--<button (click)="onGetBookDetails()" class="btn btn-social">-->
          <!--<i class="fa fa-facebook-square"></i> Share-->
          <!--</button>-->
          <!--<button (click)="onGetBookDetails()" class="btn btn-social">-->
          <!--<i class="fa fa-twitter"></i> Tweet-->
          <!--</button>-->
          <!--</div>-->
        </div>

        <div class="content">
          <h6 class="category">{{author}}</h6>
          <h4 class="title"><a href="#">{{title}}</a></h4>
          <p class="description">{{subjects}}</p>
        </div>
      </div> <!-- end card -->
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Authors</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled team-members">
            <li *ngFor="let author of authors">
              <div class="row">
                <div class="col-md-2 col-2">
                  <div class="avatar">
                    <img src="http://covers.openlibrary.org/a/olid/{{author.key.slice(9)}}-S.jpg" alt="Circle Image"
                         class="img-circle img-no-padding img-responsive">
                  </div>
                </div>
                <div class="col-md-7 col-7">
                  <a href="http://openlibrary.org{{author.key}}">{{author.name}}</a>
                  <!--<br>-->
                  <!--<span class="text-muted">-->
                  <!--<small>Offline</small>-->
                  <!--</span>-->
                </div>
                <!--<div class="col-md-3 col-3 text-right">-->
                <!--<button class="btn btn-sm btn-outline-success btn-round btn-icon"><i class="fa fa-envelope"></i></button>-->
                <!--</div>-->
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!--right side card-->
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">Details</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 pr-1">
            <button type="button" class="btn btn-primary btn-round"><i class="far fa-star"></i> Add to wishlist
            </button>
            <button type="button" class="btn btn-primary btn-round">Buy</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 pr-1">
            <label>Publish date:</label>
            {{publishDate}}
          </div>
          <div class="col-md-2 pr-1">
            <label>Language</label>
            {{language}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pr-1">
            <label>Publishers</label>
            <br>
            {{publishers}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 pr-1">
            <label>Subjects</label>
            <br>
            {{subjects}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 pr-1">
            <label>Format</label>
            <br>
            {{format}}
          </div>
          <div class="col-md-3 pr-1">
            <label>Dimensions</label>
            <br>
            {{dimensions}}
          </div>
          <div class="col-md-3 px-1">
            <label>Pages</label>
            <br>
            {{pages}}
          </div>
          <div class="col-md-3 pl-1">
            <label>Weight</label>
            <br>
            {{weight}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
