<div class="text-left">
   <h2 >Advance Search</h2>
  <br>
</div>

<div>
  <mat-form-field>
    <input matInput placeholder="asd">
  </mat-form-field>

</div>

<!--<div class="row">-->
  <!--<div class="col-md-9">-->
    <!--<div class="form-group">-->
      <!--<label>Title</label>-->
      <!--<input [(ngModel)]="title" type="text" class="form-control border-input">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-md-9">-->
    <!--<div class="form-group">-->
      <!--<label>Author</label>-->
      <!--<input [(ngModel)]="author" type="text" class="form-control border-input">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-md-9">-->
    <!--<div class="form-group">-->
      <!--<label>ISBN</label>-->
      <!--<input [(ngModel)]="isbn" type="text" class="form-control border-input">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-md-9">-->
    <!--<div class="form-group">-->
      <!--<label>Subject</label>-->
      <!--<input [(ngModel)]="subject" type="text" class="form-control border-input">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-md-9">-->
    <!--<div class="form-group">-->
      <!--<label>Place</label>-->
      <!--<input [(ngModel)]="place" type="text" class="form-control border-input">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-md-9">-->
    <!--<div class="form-group">-->
      <!--<label>Person</label>-->
      <!--<input [(ngModel)]="person" type="text" class="form-control border-input">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-md-9">-->
    <!--<div class="form-group">-->
      <!--<label>Publisher</label>-->
      <!--<input [(ngModel)]="publisher" type="text" class="form-control border-input">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="text-left">-->
  <!--<a routerLink="/search-result"><button type="submit" class="btn btn-info btn-fill btn-wd">Search</button></a>-->
<!--</div>-->
