ASDSADSAD SIDEBAR
<div class="sidebar" data-color="white" data-active-color="danger">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="../assets/img/logo-small.png">
      </div>
    </a>
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      Creative Tim
      <!-- <div class="logo-image-big">
        <img src="../assets/img/logo-big.png">
      </div> -->
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active ">
        <a href="/index">
          <i class="nc-icon nc-book-bookmark"></i>
          <div class="dropdown">
            <a href="#" class=" dropdown-toggle" data-toggle="dropdown">
              Browse
              <b class="sidebar-wrapper"></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li class="dropdown-header">Browse</li>
              <a class="dropdown-item" href="#pk">Science</a>
              <a class="dropdown-item" href="#pk">Biographies</a>
              <a class="dropdown-item" href="#pk">Textbooks</a>
              <a class="dropdown-item" href="#pk"> Sci-Fi</a>
              <a class="dropdown-item" href="#pk"> Romance</a>
              <a class="dropdown-item" href="#pk"> Fantasy</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#pk">More Subjects</a>
            </ul>
          </div>
        </a>
      </li>
      <li>
        <a href="/wish-list">
          <i class="nc-icon nc-favourite-28"></i>
          <p>My Wish List</p>
        </a>
      </li>
      <li>
        <a href="/favorite-book">
          <i class="nc-icon nc-satisfied"></i>
          <p>My Favorite Books</p>
        </a>
      </li>
      <li>
        <a href="/rented-book">
          <i class="nc-icon nc-calendar-60"></i>
          <p>My Rented Books</p>
        </a>
      </li>
      <li>
        <a href="/advance-booking">
          <i class="nc-icon nc-tile-56"></i>
          <p>My Advance Booking</p>
        </a>
      </li>
      <li>
        <a href="/user">
          <i class="nc-icon nc-single-02"></i>
          <p>User Profile</p>
        </a>
      </li>
    </ul>
  </div>
</div>
