<!-- Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow" -->
<div class="sidebar" data-color="white" data-active-color="danger">
  <div class="logo">
    <a href="https://github.com/ujLevente/libary-management/tree/development/template" class="simple-text">
      GitPullTerrier's Library
    </a>
  </div>
  <div class="sidebar-wrapper " >
    <ul class="nav">
      <li routerLinkActive="active">
        <a routerLink="/index">
          <i class="nc-icon nc-book-bookmark"></i>
          <p>Browse</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/wishlist">
          <i class="nc-icon nc-favourite-28"></i>
          <p>My Wish List</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/favorite-book">
          <i class="nc-icon nc-satisfied"></i>
          <p>My Favorite Books</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/rented-book">
          <i class="nc-icon nc-calendar-60"></i>
          <p>My Rented Books</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/advance-booking">
          <i class="nc-icon nc-tile-56"></i>
          <p>My Advance Booking</p>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/user">
          <i class="nc-icon nc-single-02"></i>
          <p>User Profile</p>
        </a>
      </li>
    </ul>
  </div>
</div>
