.book-cover {
  width: inherit;
  height: inherit;
}

.book-content {
  /*width: 145px;*/
  /*height: 225px;*/
  width: 100%;
  height: 100%;
  margin: auto;
}
.asd {
  width: 100px;
}

.book-content a {
  width: inherit;
  height: inherit;
}
